@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

p{
    font-family:"dosis","sans serif"
    font-weight 500;
    font-size: 22px;
    color: blue;
    text-align: center;
    line-height:30px;

    border-style: double;
    border-color: aliceblue;
    border-width: 3px;
    border-radius: 10px;

    padding-right: 30px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: azure;
}
